version: '2.2'

services:
  ecg_service:
    mem_limit: 400m
    memswap_limit: 600m
    cpus: "1.0"
    environment:
      - OMP_NUM_THREADS=1
      - MKL_NUM_THREADS=1
      - OPENBLAS_NUM_THREADS=1
    build:
      context: src/models
      dockerfile: Dockerfile
    command: >
      sh -c "python3 api.py"
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/healthz" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "8000:8000"
    expose:
      - 8000
    networks:
      - appnetwork
  web:
    build:
      context: src/app/ecgAIWeb
      dockerfile: Dockerfile
    command: >
      sh -c "python3 manage.py makemigrations
             python3 manage.py migrate
             python3 manage.py runserver 0.0.0.0:8001"
    ports:
      - "80:8001"
    restart: always
    volumes:
      - ./data/db/:/home/db
      - ./data/media:/home/media
    environment:
      - ECG_SERVICE_URL=http://ecg_service:8000
    depends_on:
      - ecg_service
    expose:
      - 8001
    networks:
      - appnetwork


networks:
  appnetwork:


volumes:
  mydbdata: # Определение тома


