torch
torchvision
PyYAML~=6.0.2
wfdb~=4.1.2
requests~=2.32.3
numpy
pandas~=2.0.3
scipy
matplotlib~=3.7.5
fastapi==0.111.*
uvicorn[standard]==0.29.*
tqdm~=4.67.1
opencv-python~=4.11.0.86
PyWavelets
langchain-gigachat